

<h1>Movie Record</h1>



 
    <% @records.each do |record|%>
    <div class = "col-sm-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4><%=record.title%></h4>
          <p><%=record.service.name%></p>
        <div class = "buttons">
          <a href= "/records/<%=record.id%>"data-method="delete"><span class="glyphicon glyphicon-trash"style="font-size:20px;"></span></a>
          <a href= "/records/<%=record.id%>/edit"><span class="glyphicon glyphicon-pencil"style="font-size:20px;"></span></a>
        </div>
        </div>
        <div class="panel-body">
          <%=record.review%>
        </div>
      </div>
    </div>
<%end%>
